form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacing {
    margin-right: 50px;
}

.field-container {
    width: 100%;
}

.field {
    width: 45%;
}